.canvas {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.5s ease-in-out;
    transform-origin: center center;
}

/* animation direction (rotate canvas) */
.canvas.dir-normal {
    transform: rotate(0deg);
}

.canvas.dir-left {
    transform: rotate(-90deg);
}

.canvas.dir-right {
    transform: rotate(90deg);
}

.canvas.dir-reverse {
    transform: rotate(180deg);
}

/* text casing */
.case-initial {
    text-transform: none;
}

.case-capitalize {
    text-transform: capitalize;
}

.case-lowercase {
    text-transform: lowercase;
}

.case-uppercase {
    text-transform: uppercase;
}