*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
}

:root {
    /* VARIABLES */
    --size-topbar: 3.5em;
    --size-items: 18em;
    --size-timeline: 15em;
    --gap-timeline: 1.5em;

    /* COLORS */
    --color-bg-canvas: #F2F1F3;
    --color-bg-container: #FFFFFF;
    --color-bg-topbar: #2B2B2B;
    --color-text-one: #F2F2F2;
    --color-text-two: #2B2B2B;
    --color-text-three: #888;
    --color-border-button: #F2F2F2;
    --color-border-container: rgba(200, 200, 200, 0.4);
    --color-border-canvas: #CCCCCC;
    --color-border-item: rgba(200, 200, 200, 0.4);
    --color-boxshadow-one: rgba(0, 0, 0, 0.1);
    --color-details: #6495ED;
    --color-hover-one: #4C78D0;
    --color-hover-two: rgba(200, 200, 200, 0.4);
    --color-bar: #eaeaea;

    interpolate-size: allow-keywords;
}

/* MARK: Lettertypen Courier prime en inter  */
/* *************** */
/*      Inter      */
/* *************** */
@font-face {
    /* https://fonts.google.com/specimen/Inter?preview.script=Latn */
    font-family: 'Inter';
    src: url(../assets/fonts/Inter/Inter-VariableFont.ttf);
}

/* *************** */
/*  Courier prime  */
/* *************** */
@font-face {
    /* https://fonts.google.com/specimen/Courier+Prime?preview.script=Latn */
    font-family: 'Courier Prime Regular';
    src: url(../assets/fonts/Courier_Prime/Courier_Prime/CourierPrime-Regular.ttf);
}

@font-face {
    font-family: 'Courier Prime Bold';
    src: url(../assets/fonts/Courier_Prime/Courier_Prime/CourierPrime-Bold.ttf);
}

@font-face {
    font-family: 'Courier Prime Italic';
    src: url(../assets/fonts/Courier_Prime/Courier_Prime/CourierPrime-Italic.ttf);
}

@font-face {
    font-family: 'Courier Prime BoldItalic';
    src: url(../assets/fonts/Courier_Prime/Courier_Prime/CourierPrime-BoldItalic.ttf);
}


body {
    font-family: "Inter", sans-serif;
    background-color: var(--color-bg-canvas);
}

/* https://www.a11yproject.com/posts/how-to-hide-content/ */
.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

/* Layout grid styling  */
/* main {
    display: grid;
    height: 100vh;
    grid-template-columns: 70% 30%;
    grid-template-rows: 70% 10% 20%;
    font-family: inter;

    place-items: center;

    > form {
        grid-row-start: 3;
        grid-column: 1 / -1;
    }

    .controls-panel {
        height: 100%;
        width: 100%;
        grid-area: 1 / 2/ 3 / 2;
    }
}

.canvas {
    width: 100%; 
    height: 100%; 
}

.canvas h1 {
    width: min-content; 
} */