/* Styling section timeline */

.timeline {
    /* styling section timeline layout */
    border: 1px solid rgb(225, 225, 225);
    width: 40rem;
    padding: 1rem;
    margin-bottom: 2rem;
    border-radius: 1rem;
    display: grid;
    grid-template-columns: 1fr 6fr;
    grid-template-rows: 1fr 1fr;
    gap: 1rem;
    font-family: inter;

    /* Styling play/pause button */
    button {
        border: none;
        padding: 1rem;
        border-radius: 1rem;
        color: rgb(78, 77, 77);
        grid-area: 1/1/3/2;
    }

    /* Disable the default styling timeline bar */
    input[type=range] {
        appearance: none;
        width: 100%;
        background: transparent;
        grid-column-start: 2;

        /* Create/design for new background from the track */
        &::-webkit-slider-runnable-track {
            width: 100%;
            height: 1rem;
            cursor: pointer;
            background:rgb(206, 206, 206);
            border-radius: 5px;
        }

        /* Styling slider element */
        &::-webkit-slider-thumb {
            -webkit-appearance: none;
            height: 24px;
            width: 5px;
            border-radius: 5px;
            background: #535353; /* Kleur van het schuifje */
            cursor: pointer;
            margin-top: -4px; 
        }
    }
}